

.cratetable { 
	color: white;
	font-family: Helvetica, Arial, sans-serif;
	width: 50%; 
	border-collapse: 
	collapse; border-spacing: 0;
	text-align: center; 
}

.cratetable td, th { 
	border: 1px solid transparent; /* No more visible border */
	height: 30px; 
	transition: all 0.3s;  /* Simple transition for hover effect */
}

.cratetable th {
	color: black;
	background: yellow;  /* Darken header a bit */
	font-weight: bold;
}

.cratetabletd {
	background: #FAFAFA;
	text-align: center;
}

/* Cells in even rows (2,4,6...) are one color */ 
.cratetable tr:nth-child(even) td { background: #499921; }   

/* Cells in odd rows (1,3,5...) are another (excludes header cells)  */ 
.cratetable tr:nth-child(odd) td { background: #247212; }  

.cratetable tr td:hover { background: yellow; color: black; } /* Hover cell effect! */

h1{
    position:relative;
    color: white;
    display: inline-block;
    padding:0 10px;
    height:40px;
}